@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-2000 {
    animation-delay: 2000ms;
  }
  .animation-delay-4000 {
    animation-delay: 4000ms;
  }
}
